@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
    max-width: 1200px;
    margin: 0;
    font-family: 'lobster', 'san serif';
    margin: 0 auto;
    padding: 15px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

a:hover {
    color: white;
    transition: 0.3s all;
}

#foryou {
    font-size: 20px;
    flex-direction: column;
    line-height: 10px;

}


a {
    color: red;
    font-size: larger;
}

li {
    display: inline-block;
    margin: 20px;
}

#comeca {
    border: 2px dashed red;
    padding: 20px;
    border-radius: 20px;
}

#comeca:hover {
    background-color: red;
    color: white;
}

h1 {
    font-weight: 100px;

}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2 {
    font-size: 56px;
    line-height: 10px;
}

p {
    line-height: 20px;
    max-width: 500px;
}

span {
    color: red;
}

form [type="submit"] {
    height: 50%;
    width: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
}